<html>
	<head>

	</head>
	{% load static %}

	{% block extrahead %}
		<!-- CSS and JavaScripts for django-todo -->
		<link rel="stylesheet" type="text/css" href="{% static 'todo/css/style.css' %}" />
	{% endblock extrahead %}

	<link rel="stylesheet" href="{% static 'todo/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'todo/css/bootstrap.grid.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<body>
		<nav class="navbar navbar-expand navbar-dark bg-dark">
			<a class="navbar-brand" href="{% url 'home_normal' %}">SCM Task</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
	  
			<div class="collapse navbar-collapse" id="navbarsExample02">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="btn nav-link" href="{% url 'todo:lists' %}">Task Lists  <span class="sr-only">(current)</span></a>  
				</li>
				<li class="nav-item">
				  <a class="btn nav-link" href="{% url 'todo:mine' %}">My Tasks</a>
				</li>				
				
			  </ul>				  			  
			  
			  <form class="form-inline my-2 my-md-0" action="/todo/search/" method="get">
				<input id="q" name="q" class="form-control mr-sm-2" type="text" placeholder="Search">
				<input type="submit" value="Search Tasks" class="btn btn-outline-success my-2 my-sm-0">
			  </form>
			</div>
		  </nav>
		  <br>
		  <div class="container-fluid w-75">
		  {% block content %}{% endblock %}
		  </div>
	</body>

</html>	


