<html>
    <head>
        <title>Stock</title>
    </head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home_normal' %}">SCM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="btn nav-link" href="{% url 'home_normal' %}">Stock-(normal)  <span class="sr-only">(current)</span></a>  
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="{% url 'home_simple' %}">Stock-(simple)</a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="{% url 'tf_stock' %}">TF Stock-(today)</a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="{% url 'daily_stock' %}">Daily Stock-(today)</a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link" href="{% url 'home_current_usage' %}">Usage-(this month)</a>
            </li>
            
          </ul>

          <div class="nav-item dropdown">
              
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Data Analysis
            </a>
            <div class="dropdown-menu" >
              <a class="dropdown-item" href="http://127.0.0.1:8000/admin" target="_blank">Data Admin</a>
              <a class="dropdown-item" href="http://127.0.0.1:8050" target="_blank">Sush Train Usage DashBoard</a>
              <a class="dropdown-item" href="http://127.0.0.1:8051" target="_blank">Plenus Usage DashBoard</a>
            </div>
                       
          </div>
          
          
          <form class="form-inline my-2 my-md-0">
            <input id="search_keyword" onkeydown="search_stock()" class="form-control" type="text" placeholder="Search">
          </form>
        </div>
      </nav>

      <div class="container-fluid">
          {% block body %}

          {% endblock %}
      </div>
  
</body>

</html>