{% extends 'inventory/base.html' %}

{%  block body %}
<br>

<center><h3>DAILY STOCK STATUS</h3></center>
<table id="stock_table" class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>                  
            <th>Type</th>            
            <th>Code</th>            
            <th>Name</th>
            <th>Description</th>                  
            <th>Minimum Stock</th>     
            <th>Balance</th>       
            <th>Unit</th>      
        </tr>
    </thead>
    <tbody>
        
        {% for i in df_result.itertuples %}
        <tr>                  
            <td>{{ i.type }}</td>            
            <td>{{ i.code }}</td>            
            <td>{{ i.name }}</td>
            <td>{{ i.description }}</td>                   
            <td>{{ i.min_stock }}</td>
            <td>
				        {% if i.NewBalance == 0 %}
                    <div class="bg-danger text-dark">   
                {% elif i.min_stock >= i.NewBalance %}
                    <div class="bg-warning text-dark">                     
                {% else %}
                    <div class="bg-white text-dark">
                {% endif %}
                {{ i.NewBalance }}
                </div>
            </td>           
            <td>
                {% if i.unit == 'No Stock' %}
                    <div class="bg-danger text-white">                   
                {% else %}
                    <div class="bg-white text-dark">
                {% endif %}
                {{ i.unit }}
            </td>                              
        </tr>
        {% endfor %}
            
    </tbody>
</table>

<script>
  function search_stock() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search_keyword");
      filter = input.value.toUpperCase();
      table = document.getElementById("stock_table");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {                
          td = tr[i].getElementsByTagName("td")[6]; 
          //for (var j = 0; j < td.length; j++) {
          
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                  
              } else {
                  tr[i].style.display = "none";
              }                
          }              
          //}
      }  
  }
  </script>
  
{% endblock %}