{% extends 'inventory/base.html' %}

{%  block body %}
<br>
<form action="{% url 'stock' %}">
    <div class="form-row">
      <div class="col-lg-2 mb-4">        
        <label for="validationDefault01">Total pallet QTY is {{ pallet_qty }}</label>
      </div>
      <div class="col-lg-2 mb-4">        
        <input type="text" class="form-control" id="validationDefault01" placeholder="Type Location.." value="" name="location" >
      </div>
      <div class="col-lg-2 mb-4">        
        <input type="text" class="form-control" id="validationDefault02" placeholder="Type Code.." value="" name="code">
      </div>      
      <div class="col-lg-2 mb-4">        
        <input type="text" class="form-control" id="validationDefault02" placeholder="Type Name.." value="" name="product_name" >        
      </div>
      <div class="col-lg-2 mb-4">                
        <input type="text" class="form-control" id="validationDefault02" placeholder="Type Pallet.." value="" name="pallet" >        
      </div>
      <div class="col-lg-2 mb-4">        
        <button class="btn btn-primary" type="submit">Search</button>      
      </div>
    </div>    
  </form>
  

{% endblock %}
