{% extends 'inventory/base.html' %}

{%  block body %}
<br>
<form action="{% url 'per_product_usage' %}">    
    <div class="form-row">   
      
      

      
      <div class="col-lg-2 mb-4">        
        <input type="text" class="form-control" id="validationDefault02" placeholder="Type Code.." value="" name="code">
      </div>      
     
      
      <div class="col-lg-2 mb-4">        
        <button class="btn btn-primary btn-block" type="submit">Search</button>      
      </div>
    </div>    
  </form>
  

{% endblock %}
